**/*.iml
**/.gradle
**/local.properties
**/.idea
**/.vscode
**/.DS_Store
**/build
**/captures
**/.externalNativeBuild
**/.cxx
**/TODO.md
**/build_web
**/cmake-build-debug
**/cmake-build-wasm
**/BuildProfile.ets
**/build-desktop
**/cmake-build-debug-llvm
# CocoaPods
**/Pods/
**/Podfile.lock

# User settings
**/xcuserdata/
**/*.xccheckout

# Build
**/DerivedData/
ios/Leaf_iOS/Frameworks/LeafNative.xcframework/
ios/Leaf_iOS/Assets

# App specific
*.ipa
*.dSYM.zip
*.dSYM

**/.claude
**/.trae